button {
    border: none;
    background-color: rgb(32, 134, 218);
    font-size: 24px;
    color: rgb(5, 4, 4);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(187, 17, 116);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(229, 243, 29);
  }
  
  .equals:hover {
    background-color: rgb(229, 243, 29);
}